<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MyApp</title>

	<!-- ANGULAR JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
</head>
<body ng-app="futApp">
	<form ng-controller="userCtrl" action="/authenticate" method="POST">
	    <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" ng-model="login.username">

        <br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" ng-model="login.password">

        <br><br>

		<button ng-click="sendLogin(login.username, login.password)">Enviar</button>
	</form>
</body>
</html>