<div class="logon-box">
	<form action="/signup" method="POST">
		<fieldset>
        	<input type="text" id="username" name="username" placeholder="username">
        	<input type="password" id="password" name="password" placeholder="password">
        	<input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="confirm password">
        	<input type="text" id="securityPhrase" name="securityPhrase" placeholder="security phrase">
        </fieldset>

		<div class="logon-box-action">
			<button class="btn">Sign Up</button>
		</div>

		<p>Do you have an account? <a href="/">Login</a></p>
	</form>
</div>