* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	color: #313131;
	box-shadow: inset 0px 0px 178px 21px rgba(0,0,0,0.15);
	background-color: #f1f1f1;
}

label, input, textarea, select, li {
	color: #313131;
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	font-size: 1.4em;
}